section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionHome{
    background-color: var(--background);
    width: 83vw;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 40px;
}