.containerLogs{
    background-color: var(--background);
    width: 83vw;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 0 40px;
}
.divBtns{
    margin-top: -20px;
    display: flex;
    gap: 30px;
}
button{
    background-color: var(--secundary-text);
}
.selected{
    background-color: var(--main-blue);
}