:root{
    --background : #F8F5F0;
    --cards : #FFFFFF;
    --main-blue : #426cc7e0;
    --hover : #1D4ED8;
    --text : #0F172A;
    --secundary-text : #becfe6;
    --border: #E2E8F0;
    --green: #22C55E;
    --red : #EF4444;
    --alert: #F59E0B;
    --shadow: 0 8px 24px rgba(15, 23, 42, 0.04);
    --aside : #1E3A5F;
    --cards-bg : linear-gradient(135deg, var(--cards) 0%, #f8fbff 100%);
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background);
  font-family: Poppins, sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
#root {
  width: 100%;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
button:hover{
  transform: scale(1.03);
}